header > h1{
  font-size: 35px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: #206a5d;
  margin-bottom: 40px;
}



header{
  margin-top: 15px;
  margin-left: 5px;
}

.category-title{
  height: 100px;
}



#main > .title-container{
  width: auto;
  background-color: #f1f1e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;
}

#main > .title-container > h2{
  align-self: center;
  color: #a35709;
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;

}

#main{
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.main-section{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
    margin-bottom: 20px;
}

.nav-bar{
  font-family: 'Titillium Web', sans-serif;
  width: auto;
  height: auto;
  background-color: #f1f1e8;
  margin-left: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar p {
  color:#a35709;
  font-size: 17px;
  text-align: center;
  line-height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.nav-bar h1{
  text-align: center;
  margin-bottom: 35px;
  font-size: 25px;
  color:#a35709;
  font-weight: 600;
}

.nav-bar h2{
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  color:#a35709;
  font-weight: 600;
}

#category-chart{
  background-color: #f1f1e8;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px;
  width: auto;
  border-radius: 5px;
}

.chart-sections{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  
}


.data-inputs-form{
  color: #a35709;
  font-size: 17px;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f1f1e8;
  border-radius: 5px;

}

.carbonfootprint-form{
  display: flex;
  flex-direction:column;
  text-align: center;
}

.carbonfootprint-form > input[type="submit"]{
  align-self: center;
  width: 25%;
  background-color: #206a5d;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #81b214;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.carbonfootprint-form > input[type="submit"]:hover {
  background-color: #81b214;
  color: #206a5d;
  cursor: pointer;
  transition: all 0.2s linear;
}

.carbonfootprint-form > * {
  margin-top: 5px;
}

.carbonfootprint-form > label > input[type="text"]{
  margin-left: 5px;
}

.carbonfootprint-form > label > input[type="number"]{
  margin-left: 5px;
  width: 60px;
}

b{
  font-weight: 700;
}

/* Graph */
svg{
  width: 100%;
  height: 400px;
}

.additional-values{
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 700;
  fill: #206a5d;
  letter-spacing: 0.1em;
  line-height: 5;
  margin-top: 5px;
}

.additional-values-container{
  fill: whitesmoke;
}

#line-total{
    stroke: #206a5d;
    stroke-width: 3;
    stroke-linecap: round;
}

.bar{
  fill: #81b214;
}

.bar:hover, .additional-values:hover, .additional-values-container:hover{
  cursor: pointer;
}

.value{
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  fill: #a35709;
  font-weight: 600;
}

/* Tree Animation */
.add-tree-icon{
  background-image: url('../images/treeicon.svg');
  background-repeat:no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 10;
}

.hide{
  display: none;
}

.show{
  width: 75px;
  height: auto;
}


/* Text Grow Animation */
.grow {
  width: 300px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  animation: grow-animation 3s linear infinite;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes grow-animation {
  0% { transform: scale(1); color: #206a5d; }
  50% {transform: scale(4); color: #206a5d; }
  100% {transform: scale(1); color: #bfdcae; }
}


/* Contact Links */

.contact{
  display: flex;
  justify-content: space-evenly;
}

#linkedin, #angellist, #github, #personal{
  width: 40px;
  height: auto;
}



#personal > img{
  width: 40px;
  height: auto;
}
